--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (84ade85)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: Admin; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Category" (id, name, created_at, updated_at) FROM stdin;
f6b9da8f-e317-4d53-a229-ce5fd9433858	Sculpture	2024-09-03 07:04:53.596	2024-09-03 07:04:53.596
59701cf2-516d-401a-ac0c-f1d22c3582b8	Painting	2024-09-03 07:04:53.596	2024-09-03 07:04:53.596
6c12ccee-89cc-45a4-a4d2-ca24fd9ef65a	Digital Art	2024-09-03 07:04:53.596	2024-09-03 07:04:53.596
6db703d1-b631-4e43-b11f-b08e706619c4	Photography	2024-09-03 07:04:53.596	2024-09-03 07:04:53.596
8960f1a4-6a0c-47d2-b776-323c1186890c	Mixed Media	2024-09-03 07:04:53.596	2024-09-03 07:04:53.596
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Exhibition; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Art; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Blog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Collectibles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: CollectibleFlags; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CollectibleFlags" (user_id, collectible_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: CollectibleLikes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CollectibleLikes" (user_id, collectible_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ExhibitionArt; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Flags; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Flags" (user_id, art_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: Likes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Notification" (id, user_id, art_id, type, created_at, updated_at, is_read) FROM stdin;
fe6eac6d-184c-4fda-bcd0-d8a0bb33a0b5	6f43486e-45d5-462f-8142-890b2a87ef18	23549ba8-6130-451c-a358-3e5296a3bf7f	UPLOADS	2025-04-24 08:32:52.802	2025-04-24 08:32:52.802	f
7c6c69b1-d57a-4735-bbe3-613040f6fb59	6f43486e-45d5-462f-8142-890b2a87ef18	23549ba8-6130-451c-a358-3e5296a3bf7f	FLAGS	2025-04-25 16:48:59.704	2025-04-25 16:48:59.704	f
\.


--
-- PostgreSQL database dump complete
--

