@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  @apply container max-w-screen-xl mx-auto px-6;
}
.contain_right {
  @apply container max-w-screen-sm pl-6;
}

.contain_left {
  @apply container max-w-screen-sm pr-6;
}

.scroller::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollerMain::-webkit-scrollbar {
  width: 6px !important;
}

.scrollerSec::-webkit-scrollbar {
  width: 3px !important;
}

.scroller::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.scroller::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 15px;
}
